{% extends "Main/base.html" %}
{% load static %}

<title>
    {% block title %}Detalles del Álbum{% endblock %}
</title>

{% block content_title %}Detalles del Álbum{% endblock content_title %}

{% block content %}
    <div class="card mt-4">
        <div class="card-header">
            <h2>{{ album.nombre }}</h2>
        </div>
        <div class="card-body">
            <p><strong>Género:</strong> {{ album.genero }}</p>
            <p><strong>Fecha de lanzamiento:</strong> {{ album.fecha_lanzamiento }}</p>
            <p><strong>Autor del álbum:</strong> {{ album.autor_album }}</p>
            <p><strong>Historia:</strong></p>
            <p>{{ album.historia }}</p>
        </div>
        <!-- Mostrar el autor -->
        <div class="card-footer">
            <p><strong>Autor:</strong> {{ album.autor.username }}</p>
        </div>
        <div class="card-footer d-flex justify-content-between">
            <a href="{% url 'blog:album_list' %}" class="btn btn-secondary">Volver a la lista</a>
            <a href="{% url 'blog:album_update' album.pk %}" class="btn btn-warning">Editar</a>
            <a href="{% url 'blog:album_delete' album.pk %}" class="btn btn-danger">Eliminar</a>
        </div>
    </div>
{% endblock content %}
