{% extends "Main/login.html" %}

{% block titulo %}Registro de Usuario{% endblock %}

{% block cuerpo %}
    <div class="d-flex justify-content-center align-items-center vh-100">
        <div class="card shadow-lg p-4 rounded" style="width: 28rem; background-color: #ffffff;">
            <h2 class="text-center mb-4 text-success">Crear Cuenta</h2>
            <form method="post" novalidate>
                {% csrf_token %}
                {{ form.as_p }}  <!-- Esto genera el formulario automáticamente con los campos definidos en el formulario de Django -->
                <div class="text-center mt-4">
                    <button type="submit" class="btn btn-success w-100">Registrar</button>
                </div>
            </form>
            <hr class="my-4">
            <div class="text-center">
                <p class="mb-0">¿Ya tienes una cuenta? <a href="{% url 'Main:login' %}" class="text-success">Inicia Sesión</a></p>
            </div>
        </div>
    </div>
{% endblock %}
